name: Android CI

on:
  workflow_run:
    workflows: ["Lint"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    defaults:
      run:
        working-directory: ./Dialog
        shell: bash

    steps:
      - uses: actions/checkout@v4

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Create local.properties
        run: |
          echo "debug_base_url=${{ secrets.DEBUG_BASE_URL }}" > ./composeApp/local.properties
          echo "release_base_url=${{ secrets.RELEASE_BASE_URL }}" >> ./composeApp/local.properties

      - name: Build APK
        run: ./gradlew :composeApp:assembleDebug --stacktrace
