name: CI

on:
  pull_request:
    branches: [ "develop" ]

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
    secrets: inherit

  android:
    needs: lint
    uses: ./.github/workflows/android-ci.yml
    secrets: inherit

  ios:
    needs: lint
    uses: ./.github/workflows/ios-ci.yml
    secrets: inherit